* {
  font-size: 16px;
  font-family: "JetBrainsMono Nerd Font,JetBrainsMono NF";
  min-width: 8px;
  min-height: 0px;
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 8px;
  border: 2px solid #89b4fa; /* Mocha blue */
  background: rgba(30, 30, 46, 0.7); /* Mocha base */
  color: #cdd6f4; /* Mocha text */
}

menu,
tooltip {
  border-radius: 8px;
  padding: 2px;
  border: 1px solid #cdd6f4; /* Mocha text */
  background: rgba(30, 30, 46, 0.6); /* Mocha base */
  color: #cdd6f4; /* Mocha text */
}

menu label,
tooltip label {
  font-size: 14px;
  color: #cdd6f4; /* Mocha text */
}

#submap,
#tray>.needs-attention {
  animation-name: blink-active;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.modules-right {
  margin: 0px 6px 6px 6px;
  border-radius: 4px;
  background: rgba(30, 30, 46, 0.4); /* Mocha base */
  color: #cdd6f4; /* Mocha text */
}

.modules-left {
  transition-property: background-color;
  transition-duration: 0.5s;
  margin: 6px 6px 6px 6px;
  border-radius: 4px;
  background: rgba(30, 30, 46, 0.4); /* Mocha base */
  color: #cdd6f4; /* Mocha text */
}

#gcpu,
#custom-github,
#memory,
#disk,
#together,
#submap,
#custom-weather,
#custom-recorder,
#connection,
#cnoti,
#brightness,
#power,
#custom-updates,
#tray,
#audio,
#privacy,
#sound {
  border-radius: 4px;
  margin: 2px 2px 4px 2px;
  background: rgba(137, 180, 250, 0.3); /* Mocha blue */
}

#custom-notifications {
  padding-left: 4px;
}

#custom-hotspot,
#custom-github,
#custom-notifications {
  font-size: 14px;
}

#custom-hotspot {
  padding-right: 2px;
}

#custom-vpn,
#custom-hotspot {
  background: rgba(137, 180, 250, 0.3); /* Mocha blue */
}

#privacy-item {
  padding: 6px 0px 6px 6px;
}

#gcpu {
  padding: 8px 0px 8px 0px;
}

#custom-cpu-icon {
  font-size: 25px;
}

#custom-cputemp,
#disk,
#memory,
#cpu {
  font-size: 14px;
  font-weight: bold;
}

#custom-github {
  padding-top: 2px;
  padding-right: 4px;
}

#custom-dmark {
  color: rgba(205, 214, 244, 0.3); /* Mocha text */
}

#submap {
  margin-bottom: 0px;
}

#workspaces {
  margin: 0px 2px;
  padding: 4px 0px 0px 0px;
  border-radius: 8px;
}

#workspaces button {
  transition-property: background-color;
  transition-duration: 0.5s;
  color: #cdd6f4; /* Mocha text */
  background: transparent;
  border-radius: 4px;
  color: rgba(205, 214, 244, 0.3); /* Mocha text */
}

#workspaces button.urgent {
  font-weight: bold;
  color: #cdd6f4; /* Mocha text */
}

#workspaces button.active {
  padding: 4px 2px;
  background: rgba(137, 180, 250, 0.4); /* Mocha blue */
  color: #cdd6f4; /* Mocha text */
  border-radius: 4px;
}

#network.wifi {
  padding-right: 4px;
}

#submap {
  min-width: 0px;
  margin: 4px 6px 4px 6px;
}

#custom-weather,
#tray {
  padding: 4px 0px 4px 0px;
}

#bluetooth {
  padding-top: 2px;
}

#battery {
  border-radius: 8px;
  padding: 4px 0px;
  margin: 4px 2px 4px 2px;
}

#battery.discharging.warning {
  animation-name: blink-yellow;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.discharging.critical {
  animation-name: blink-red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#clock {
  font-weight: bold;
  padding: 4px 2px 2px 2px;
}

#pulseaudio.mic {
  border-radius: 4px;
  color: rgba(30, 30, 46, 0.7); /* Mocha base */
  background: rgba(205, 214, 244, 0.6); /* Mocha text */
  padding-left: 4px;
}

#backlight-slider slider,
#pulseaudio-slider slider {
  background-color: transparent;
  box-shadow: none;
}

#backlight-slider trough,
#pulseaudio-slider trough {
  margin-top: 4px;
  min-width: 6px;
  min-height: 60px;
  border-radius: 8px;
  background-color: rgba(30, 30, 46, 0.6); /* Mocha base */
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
  border-radius: 8px;
  background-color: #cdd6f4; /* Mocha text */
}

#bluetooth.discoverable,
#bluetooth.discovering,
#bluetooth.pairable {
  border-radius: 8px;
  animation-name: blink-active;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink-active {
  to {
    background-color: #89b4fa; /* Mocha blue */
    color: #cdd6f4; /* Mocha text */
  }
}

@keyframes blink-red {
  to {
    background-color: #c64d4f;
    color: #cdd6f4; /* Mocha text */
  }
}

@keyframes blink-yellow {
  to {
    background-color: #cf9022;
    color: #cdd6f4; /* Mocha text */
  }
}